@import "tailwindcss";


@theme {
  --font-size-base: 16px;
  /* Primary Colors */
  --color-primary-purple-600: hsl(238, 40%, 52%);
  --color-primary-pink-400: hsl(358, 79%, 66%);
  --color-primary-purple-200: hsl(239, 57%, 85%);
  --color-primary-pink-200: hsl(357, 100%, 86%);

  /* Neutral Colors */
  --color-neutral-grey-800: hsl(212, 24%, 26%);
  --color-neutral-grey-500: hsl(211, 10%, 45%);
  --color-neutral-grey-100: hsl(223, 19%, 93%);
  --color-neutral-grey-50: hsl(228, 33%, 97%);
  --color-neutral-white: hsl(0, 100%, 100%);
}

@layer base {
  body {
    @apply text-base min-h-screen bg-[#f5f6fa];
  }
}

* {
  font-family: "Rubik", sans-serif;
}

html {
  scrollbar-gutter: stable;
}